@import "../variables.scss";
.SearchContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1vh;
  font-family: 'Roboto';
  font-weight: bold;

  .Search {
    border: 1px solid $default-font-color;
    border-radius: 4px;
    padding: 1vh 1vw;
    width: 30vw;
    box-shadow: $button-box-shadow;
    background: #fff;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      border: 2px solid $primary-border-color;
      outline: none;
    }
  }

  .search-label{
    display: flex;
    flex-flow: row wrap;
    margin: 0.5vh;
    h4 {
      margin: 0;
      width: fit-content;
    }
    .Icon {
      color: $default-font-color;
      margin: 0 10px;
    }
  }
}
