.User .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.row .logo {
  height: 10vh;
}
.row .main-info {
  display: flex;
  flex-flow: column wrap;
}
.main-info h3 {
  margin: 0;
}
