@import '../../variables.scss';

.Button {
  border: 1px solid $default-font-color;
  border-radius: 4px;
  padding: 5px;
  box-shadow: $button-box-shadow;
  background: #fff;
  &:hover {
    box-shadow: $button-box-shadow-hover;
    cursor: pointer;
  }
  &:focus {
    border: 2px solid $primary-border-color
  }
}
