@import '../../variables.scss';

.Icon {
  margin: 0.25vh 2vw;
  &.primary {
    color: $primary-icon-color;
  }
  &.secondary {
    color:  $secondary-icon-color;
  }
  &.xl {
    font-size: 20vw;
  }
  &.l {
    font-size: 20vh;
  }
  &.m {
    font-size: 10vh;
  }
  &.s {
    font-size: 2em;
  }
  &.xs {
    font-size: 1.5em;
  }
}
.fa-angle-up,
.fa-angle-down {
  cursor: pointer;
}
