.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  img {
    height: 20vh;
    pointer-events: none;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #333;
    margin-bottom: 2vh;
  }
}

