.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

