@import './variables.scss';

body {
  background-color: $default-background;
  color: $default-font-color;
  font-family: 'Roboto';
  font-size: 1em;
}
body a {
  color: $default-font-color;
}
body h1 {
  font-size: 3em;
}
body h2 {
  font-size: 2.5em;
}
body h3 {
  font-size: 2em;
}
