$default-background: #eee;
$default-font-color: #616161;
$secondary-font-color: #ccc;
$primary-icon-color: #b3e5fc;
$secondary-icon-color: #34de19;
$primary-search-color: #2196f3;
$drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);